html {
  font: normal 100%/1.5 Georgia,serif;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #ffe500;
  padding: 1em 0;
}

h1 {
  background-color: #ffe500;
  font-family: "Sigmar One", cursive;
  padding: .5em .2em;
  margin: 0;
  text-align: center;
  font-size: 3rem;
  color: #cc1465;

}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: #ffe500;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: .5em .75em;
  background-color: #b2a212;
  border-radius: 4px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #cc1465;
}

.nav .current {
  background-color: #b2a212;
}

h2 {
  color: #cc1465;
  font-family: "Sigmar One", cursive;
  tex-align:left;
  text-size:1.875rem
  font-size: 3rem;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: 1em 0;
}
title {
  color: #cc1465;
}

.text{
  padding-right: .75em;
  padding-left: .75em
}
img{
  display: block;
  width: 100%
}
